<script>
   var addthis_config = {
      data_ga_property: 'UA-8501375-5',
      data_track_clickback: true,
      ui_use_addressbook: true,
      ui_click: true
   };
</script>
<script>
var addthis_share = {
    url_transforms : {shorten: {twitter: 'bitly'},},shorteners : {bitly : {login: 'macrane9',apiKey: 'R_e0addf8f9695437df1f2b93d8c8bb1b2'}}};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#async=1&domready=1&pubid=michaelcrane"></script>
<script>
function initAddThis()
{
addthis.init()
}
// After the DOM has loaded...
initAddThis();
</script>