<!-- app_flow_container -->
<div id="app_flow_container">
<h3><a name="workflows">Schematics and Workflows</a></h3>
<!-- flow_left1 -->
	<!-- <div class="flow_left1"> -->
	<div class="flowrow1">
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/1_dashboard_flow.png" rel="prettyPhoto[arkFlow]"><!-- 1 -->
				<img src="/storage/images/portfolio/thumbs/iphone/1_dash_thumb_crop.png" width="125" height="238" alt="Dashboard" /></a>
		<br /><p>Dashboard</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/2_earn_shop_flow.png" rel="prettyPhoto[arkFlow]"><!-- 2 -->
				<img src="/storage/images/portfolio/thumbs/iphone/2_earn_shop_flow_thumb_crop.png" width="125" height="238" alt="Earn - Shop" /></a>
		<br /><p>Earn - Shop</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/3_earn_search_flow.png" rel="prettyPhoto[arkFlow]"><!-- 3 -->
				<img src="/storage/images/portfolio/thumbs/iphone/3_earn_search_thumb_crop.png" width="125" height="238" alt="Search for Stores Workflow" /></a>
		<br /><p>Search for Stores</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/4_causes_cat_flow.png" rel="prettyPhoto[arkFlow]"><!-- 4 -->
				<img src="/storage/images/portfolio/thumbs/iphone/4_cause_cat_thumb_crop.png" width="125" height="238" alt="Cause Filtering by Category" /></a>
		<br /><p>Cause Filtering</p>
		</div><!-- flowpicture -->
	</div><!-- flowrow1 -->
	<!-- flow_right1 -->
	<div class="flow_right1">
		<a href="/storage/images/portfolio/iphone/flows_80/1_dashboard_flow.png" rel="prettyPhoto[arkFlow2]">
			<img src="/storage/images/portfolio/thumbs/iphone/1_dashthumb_flow.png" width="338" height="auto" alt="Dashboard" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/2_earn_shop_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 2 -->
			<img src="#" alt="Earn - Shop" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/3_earn_search_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 3 -->
			<img src="#" alt="Search for Stores Workflow" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/4_causes_cat_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 4 -->
			<img src="#" alt="Cause Filtering by Category" /></a>
		<br />
		<a href="/storage/images/portfolio/iphone/flows_80/5_causes_view_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 5 -->
			<img src="#" alt="Causes" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/6_causes_view_w_donate_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 6 -->
			<img src="#" alt="Causes with Donation" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/7_causes_view_w_search_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 7 -->
			<img src="#" alt="Causes with Search" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/8_myark_causes_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 8 -->
			<img src="#" alt="My Ark - Causes" /></a>
		<br />
		<a href="/storage/images/portfolio/iphone/flows_80/9_myark_arktivity_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 9 -->
			<img src="#" alt="Arktivity Workflow" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/10_myark_likes_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 10 -->
			<img src="#" alt="My Likes Workflow" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/11_messages_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 11 -->
			<img src="#" alt="Messages Workflow" /></a>
		<a href="/storage/images/portfolio/iphone/flows_80/12_settings_flow.png" rel="prettyPhoto[arkFlow2]" style="display:none"><!-- 12 -->
			<img src="#" alt="Application Settings" /></a>
	</div><!-- flow_right1 -->
		<!-- flow_right1 -->
		<br />
	<div class="flowrow2">
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/5_causes_view_flow.png" rel="prettyPhoto[arkFlow]"><!-- 5 -->
				<img src="/storage/images/portfolio/thumbs/iphone/5_causes_thumb_crop.png" width="125" height="238" alt="Causes" /></a>
			<br /><p>Causes</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/6_causes_view_w_donate_flow.png" rel="prettyPhoto[arkFlow]"><!-- 6 -->
				<img src="/storage/images/portfolio/thumbs/iphone/7_cause_view_donate_thumb_crop.png" width="125" height="238" alt="Causes with Donation" /></a>
		<br /><p>Causes with Donation</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/7_causes_view_w_search_flow.png" rel="prettyPhoto[arkFlow]"><!-- 7 -->
				<img src="/storage/images/portfolio/thumbs/iphone/6_causes_search_thumb_crop.png" width="125" height="238" alt="Causes with Search" /></a>
			<br /><p>Causes with Search</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/8_myark_causes_flow.png" rel="prettyPhoto[arkFlow]"><!-- 8 -->
				<img src="/storage/images/portfolio/thumbs/iphone/8_myark_causes_thumb_crop.png" width="125" height="238" alt="My Ark - Causes" /></a>
		<br /><p>My Ark - Causes</p>
		</div><!-- flowpicture -->
	</div><!-- flowrow2 -->
		<br />
	<div class="flowrow3">
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/9_myark_arktivity_flow.png" rel="prettyPhoto[arkFlow]"><!-- 9 -->
				<img src="/storage/images/portfolio/thumbs/iphone/9_myark_arktivity_thumb_crop.png" width="125" height="238" alt="Arktivity Workflow" /></a>
		<br /><p>Arktivity Workflow</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/10_myark_likes_flow.png" rel="prettyPhoto[arkFlow]"><!-- 10 -->
				<img src="/storage/images/portfolio/thumbs/iphone/10_myark_likes_thumb_crop.png" width="125" height="238" alt="My Likes Workflow" /></a>
		<br /><p>My Likes Workflow</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/11_messages_flow.png" rel="prettyPhoto[arkFlow]"><!-- 11 -->
				<img src="/storage/images/portfolio/thumbs/iphone/11_myark_messages_thumb_crop.png" width="125" height="238" alt="Messages Workflow" /></a>
		<br /><p>Messages Workflow</p>
		</div>
		<div class="flowpicture" style="">
			<a href="/storage/images/portfolio/iphone/flows_80/12_settings_flow.png" rel="prettyPhoto[arkFlow]"><!-- 12 -->
				<img src="/storage/images/portfolio/thumbs/iphone/12_settings_thumb_crop.png" width="125" height="238" alt="Application Settings" /></a>
		<br /><p>Application Settings</p>
		</div><!-- flowpicture -->
	</div><!-- flowrow3 -->
	<div class="text_stage flow_text">
	<div class="text_stage_text">Some examples of how the app would be setup to work. Minimizing taps and maximizing accessibility were two of my main goals.</div>
	</div>
	<!-- </div> --> <!-- flow_left1 -->
	<!-- flow_left1 -->
</div><!-- app_flow_container -->
		<!-- app_flow_container -->