<div id="coursework">
<h3><a name="coursework">Gallery of <span style="text-decoration:line-through; color:#484848;">Recent</span> Not So Recent Coursework</a></h3>
	<div class="coursework_left">
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/?iframe=true" title="Recent Coursework" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/index.png" width="200" height="150" alt="Class Index Page" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webassess/facebook.html?iframe=true" title="Facebook Site Assessment" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/facebook.png" width="200" height="150" alt="Facebook Site Assessment" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webassess/twitter.html?iframe=true" title="Twitter Site Assessment" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/twitter.png" width="200" height="150" alt="Twitter Site Assessment" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webby/index.html?iframe=true" title="Illustrator Reconstruct" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/webby.png" width="200" height="150" alt="Illustrator Reconstruct" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/breakingthegrid/index.html?iframe=true" title="Breaking the Grid v1" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/breaking_the_grid.png" width="200" height="150" alt="Breaking the Grid v1" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/breaking_the_grid/index.html?iframe=true" title="Breaking the Grid v2" rel="iframe[cw1]">
			<img src="/storage/images/portfolio/thumbs/breakingthegrid.png" width="200" height="150" alt="Breaking the Grid v2" /></a>
	</div><!-- coursework_left -->
	<div class="coursework_right">
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/?iframe=true" title="Recent Coursework" rel="iframe[cw2]">
			<img src="/storage/images/portfolio/thumbs/index.png" width="392" height="300" alt="Class Index Page" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webassess/facebook.html?iframe=true" title="Facebook Site Assessment" rel="iframe[cw2]">
			<img src="#" width="200" height="150" alt="Facebook Site Assessment" style="display:none" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webassess/twitter.html?iframe=true" title="Twitter Site Assessment" rel="iframe[cw2]">
			<img src="#" width="200" height="150" alt="Twitter Site Assessment" style="display:none" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/webby/index.html?iframe=true" title="Illustrator Reconstruct" rel="iframe[cw2]">
			<img src="#" width="200" height="150" alt="Illustrator Reconstruct" style="display:none" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/breakingthegrid/index.html?iframe=true" title="Breaking the Grid v1" rel="iframe[cw2]">
			<img src="#" width="200" height="150" alt="Breaking the Grid v1" style="display:none" /></a>
		<a class="pro1" href="http://homepage.mac.com/macrane9/im270/breaking_the_grid/index.html?iframe=true" title="Breaking the Grid v2" rel="iframe[cw2]">
			<img src="#" width="200" height="150" alt="Breaking the Grid v2" style="display:none" /></a>
	</div><!-- coursework_right -->
</div><!-- coursework -->