<hr>
<footer>
	<p>Copyright &copy; 2013, <a href="mailto:mike@michaelcrane.me">Michael A. Crane</a>.  All rights reserved.</p>
	<p style="font-size:13px">When all else fails <b>&#x2303;&nbsp;&#x2325;&nbsp;&#x2326;</b></p>
  
  <div id="container">
  		<div id="footerSlideContainer">
              <div id="footerSlideButton"><span class="fa fa-sitemap"></span></div>
  			<div id="footerSlideContent">
  				<div id="footerSlideText">

      <div class="headers">
          <ul>
              <li><h2 class="header1">Portfolio</h2></li>
          </ul>
          <ul>
              <li><h2 class="header2">Resume</h2></li>
          </ul>
          <ul>
              <li><h2 class="header3">About</h2></li>
          </ul>
      </div>
  			<div id="container">

      <div class="col1">
      <ul><h3><a href="http://www.realuses.com/web/">Web</a></h3>
          <li><h4><a href="http://www.realuses.com/web/#file_browsing">File Browsing</a></h4>
              <ul>
                  <li><a href="http://www.realuses.com/web/#list_icon_views">List &amp; Icon Views</a></li>
                  <li><a href="http://www.realuses.com/web/#view_files">View Files</a></li>
                  <li><a href="http://www.realuses.com/web/#share_up">Share Up</a></li>
              </ul>
          </li>
          <li><h4><a href="http://www.realuses.com/web/#admin_man">Administration Management</a></h4>
              <ul>
                  <li><a href="http://www.realuses.com/web/#new_user">New User</a></li>
                  <li><a href="http://www.realuses.com/web/#signup_process">Signup Process</a></li>
              </ul>
          </li>
          <li><h4><a href="http://www.realuses.com/web/#ark">Ark</a></h4>
              <ul>
                  <li><a href="http://www.realuses.com/web/#ark_web">Ark Web</a></li>
                  <li><a href="http://www.realuses.com/web/#web_forms">Web Forms</a></li>
              </ul>
          </li> <!-- Ark -->
          <li><h4><a href="http://www.realuses.com/web/#other_web">Other</a></h4>
              <ul>
                  <li><a href="http://www.realuses.com/wikipedia">Wikipedia</a></li>
                  <li><a title="" href="http://www.realuses.com/social-tv">Social TV</a></li>
                  <li><a title="" href="http://www.realuses.com/user-management">User Management</a></li>
              </ul>
          </li><!-- Other -->
      </ul>
  </div>
  <div class="col2">
  <ul>
      <li><h3><a href="http://www.realuses.com/mobile/">Mobile</a></h3>
          <ul>
          <li><a href="http://www.realuses.com/mobile/#so_ios">SpiderOak Mobile for iOS</a></li>
                  <li><a href="http://www.realuses.com/mobile/#mobile_web">Mobile Web</a></li>
                  <li><a title="Ark Mobile App" href="http://www.realuses.com/mobile/#ark_mobile">Ark Mobile App</a></li>
              </ul>
      </li>
      </ul>
  </div>
  <div class="col3">
      <h3><a href="http://www.realuses.com/desktop/">Desktop</a></h3>
              <ul>
                  <li><a title="" href="http://www.realuses.com/desktop/#osx_desktop">SpiderOak Mac Desktop</a></li>
                  <li><a title="" href="http://www.realuses.com/desktop/#osx_installer">SpiderOak Mac Installer</a></li>
                  <li><a title="" href="http://www.realuses.com/desktop/#osx_drive">Mac OS Removable Drive &amp; Folder icons</a></li>
                  <li><a title="" href="http://www.realuses.com/desktop/#msi">Windows MSI Installer</a></li>
              </ul>
  </div>
  			</div>
  		</div>
  </div>
      </div>
      </div>
</footer>