<div id="hcard-Michael-A.-Crane" class="vcard" style="display:none;width:318px;border:0px solid;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight: 300;">
	<div style="float:left;margin-right:4px; height:116px; border:0px solid">
		<img height="116px" src="../img/profile.png" alt="photo of Michael" class="photo" />
	</div>
	<div>
		<a class="url fn n" href="http://www.realuses.com" style="'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight:500;font-size:23px;letter-spacing:2px;text-decoration:none;text-align:justify;">
			<span class="given-name">Michael</span>
			<span class="additional-name">A.</span>
			<span class="family-name">Crane</span>
		</a>

		<div>
			<p style="margin-top:-1px;margin-bottom:3px;font-style:italic;">"<span class="fn nickname">Mike</span>"</p>
		</div>
	</div>
	<div class="title" style="letter-spacing:1px; font-size:15px">UI/UX Designer</div>
	<a class="email" href="mailto:mike@michaelcrane.me" style="letter-spacing:2px;text-decoration:none">mike@michaelcrane.me</a>
	<div class="tel" style="width:320px;clear:right">
		<div>
			<span class="type">main</span>
			<span style="float:right" class="value">(312) 909-1570</span>
		</div>
	</div>
	<div class="note">Scanned from QR code on his resume</div>
</div>