<div id="mikes_social">
    <div class="addthis_toolbox addthis_32x32_style addthis_vertical_style">
        <div class="custom_images">
            <ul class="addthislink">
                <li class="top">
                    <a class="addthis_button_twitter_follow" title="Michael A. Crane on Twitter" addthis:userid="michaelcrane">
						<img src="{{ site.baseurl }}/img/follow/twitter_bird3_square_80.png" alt="Twitter icon" width="32" height="32" />@michaelcrane
					</a>
                </li>
                <li>
                    <a class="addthis_button_linkedin_follow" title="Michael A. Crane on Linkedin" addthis:userid="michaelaaroncrane">
						<img src="{{ site.baseurl }}/img/follow/linkedin_logo_square2_80.png" alt="Linkedin icon" width="32" height="32" />Linkedin
					</a>
                </li>
                <li>
                    <a rel="author" class="addthis_button_googlebuzz_follow" href="https://profiles.google.com/macrane9" addthis:userid="macrane9" title="Michael Crane on Google Plus">
						<img src="{{ site.baseurl }}/img/follow/gplus.png" width="32" height="32" />Google Plus
					</a>
                </li>
                <li>
                    <a class="addthis_button_facebook_follow" title="Michael A. Crane on Facebook" addthis:userid="michael.a.crane">
						<img src="{{ site.baseurl }}/img/follow/facebook_logo_square_80.png" width="32" alt="Facebook icon" height="32" />Facebook
					</a>
                </li>
                <li>
                    <a class="addthis_button_flickr_follow" title="Michael A. Crane on Flickr" addthis:userid="michaelcrane">
						<img src="{{ site.baseurl }}/img/follow/flickr_square_80.png" alt="Flickr icon" width="32" height="32" />Flickr
					</a>
                </li>
                <li class="bottom">
                    <a class="addthis_button_youtube_follow" title="Michael A. Crane on YouTube" addthis:userid="macrane9">
						<img src="{{ site.baseurl }}/img/follow/you_tube2_s_80.png" alt="YouTube icon" width="32" height="32" />YouTube
					</a>
                </li>
            </ul>
        </div>
    </div>
</div>