<div id="portfolio_contact_container">
	<div id="portfoliofree_for_job">
		<a class="portfoliocontact_mike" href="http://michaelcrane.wufoo.com/forms/z7x4a9/" onClick="emailForm();return false;" title="Email Mike" alt="Email Mike"><img src="/storage/free_for_job.png" height="36" alt="Email Mike" /><span>Email Mike</span>
		</a>
	</div> <!-- free_for_job -->
	<div id="portfoliocontact_mike_share">
		<div class="portfoliolinkedin">
			<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/Share" data-url="http://www.realuses.com/portfolio/"></script>
		</div> <!-- linkedin -->
		<!-- Place this tag where you want the +1 button to render -->
		<div class="portfoliogplusone">
			<div class="g-plusone" data-size="medium" data-href="http://www.realuses.com/portfolio/"></div>
		</div> <!-- g_plusone -->
		<div class="portfoliofollowbutton">
			@<a href="http://twitter.com/intent/user?user_id=15291992" onclick="trackSocialIntent">michaelcrane</a>
		</div><!-- followbutton -->
	</div> <!-- contact_mike_share -->
</div><!-- portfolio_contact_container -->