<div id="postsnippet3right">
	<!-- Start Twitter Button -->
	<div class="tweet_button">
		<a href="http://twitter.com/share" class="addthis_button_tweet" data-url="http://www.realuses.com/blog/2011/1/19/re-your-annoying-fwd.html" tw:text="Reading 'Re: Your annoying&nbsp;Fwd:' on Real Uses:" tw:via="michaelcrane" tw:count="none" title="Tweet This Post">Tweet</a>
	</div>
	<!-- End Twitter Button -->
	<div class="postgplusone">
		<div class="g-plusone" data-size="medium" data-href="http://www.realuses.com/blog/2011/1/19/re-your-annoying-fwd.html"></div>
	</div>
</div>