<div id="prosites">
	<h3><a name="prosites">Sites I also contribute to and work on professionally</a></h3>
	<div class="prosites">
		<a class="pro1" rel="iframe[pro1]" href="http://www.visionati.com?iframe=true" title="Visionati">
			<img src="/storage/images/portfolio/thumbs/visionati.png" width="240" height="180" alt="Visionati.com" />
		</a>
		<a class="pro1" rel="iframe[pro1]" href="http://www.candidaabrahamsonphd.com?iframe=true" title="CandidaAbrahamson.com">
			<img src="/storage/images/portfolio/thumbs/candida.png" width="240" height="180" alt="CandidaAbrahamson.com" />
		</a>
	</div><!-- prosites -->
</div>