<div id="resume_contact_container">
	<div id="free_for_job">
		<a class="contact_mike" href="http://michaelcrane.wufoo.com/forms/z7x4a9/" onClick="emailForm();return false;" title="Email Mike" alt="Email Mike">
			<img src="{{ site.baseurl }}/img/free_for_job.png" width="34" height="36" alt="Email Mike" />
			<span>Email Mike</span>
		</a>
	</div> <!-- free_for_job -->
	<div id="contact_mike_share">
		<div class="resumelinkedin">
			
		</div> <!-- linkedin -->
		<div class="resumegplusone">
			<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:href="http://www.realuses.com/resume/" g:callback="plusone_vote"></a>
		</div> <!-- resumegplusone -->
		<div class="portfoliofollowbutton">
			@<a href="http://twitter.com/intent/user?screen_name=michaelcrane" title="Michael A. Crane on Twitter">michaelcrane</a>
		</div><!-- followbutton -->
		<!-- AddThis Button BEGIN -->


		<!-- AddThis Button END -->
	</div> <!-- contact_mike_share -->
	<div class="awesomeblock">
		<img src="{{ site.baseurl }}/img/qrcodevcard.png" alt="Michael Crane's vCard QR Code" width="170" height="170" style="padding:5px;margin-left: auto;margin-right: auto;background-color:white;">
		<p>Mike&#8217;s Contact Info</p>
	</div> <!-- awesomeblock -->
</div> <!-- resume_contact_container -->