<div id="signup"> <!-- signup -->
<h3><a name="webforms">Web Forms</a></h3>
	<div class="signup_left1">
		<a href="/storage/images/portfolio/signup/v1.png" rel="prettyPhoto[signup1]" title="Version 1">
			<img src="/storage/images/portfolio/thumbs/signup/v1_thumb.png" width="128" height="106" alt="Version 1" /></a>
		<a href="/storage/images/portfolio/signup/v2_.png" rel="prettyPhoto[signup1]" title="Version 2">
			<img src="/storage/images/portfolio/thumbs/signup/v2__thumb.png" width="128" height="106" alt="Version 2" /></a>
		<a href="/storage/images/portfolio/signup/v2_1.png" rel="prettyPhoto[signup1]" title="V2 Form Fields">
			<img src="/storage/images/portfolio/thumbs/signup/v2_1_thumb.png" width="128" height="106" alt="V2 Form Fields" /></a>
	</div>	<!-- break -->
	<div class="signup_right">
		<a href="/storage/images/portfolio/signup/v1.png" rel="prettyPhoto[signup2]" title="Version 1" style="display:none">
			<img src="#" width="410" height="331" alt="Version 1" /></a>
		<a href="/storage/images/portfolio/signup/v2_.png" rel="prettyPhoto[signup2]" title="Version 2" style="display:none">
			<img src="#" width="410" height="331" alt="Version 2" /></a>
		<a href="/storage/images/portfolio/thumbs/signup/v2_1.png" rel="prettyPhoto[signup2]" title="V2 Form Fields" style="display:none">
			<img src="#" width="410" height="331" alt="V2 Form Fields" /></a>
		<a href="/storage/images/portfolio/signup/v2_2.png" rel="prettyPhoto[signup2]" width="410" height="331" title="V2 Loading">
			<img src="/storage/images/portfolio/thumbs/signup/signup_right_thumb.png" width="410" height="331" alt="V2 Loading" /></a>
		<a href="/storage/images/portfolio/thumbs/signup/v2_3.png" rel="prettyPhoto[signup2]" title="V2 Error" style="display:none">
			<img src="#" width="410" height="331" alt="V2 Error" /></a>
		<a href="/storage/images/portfolio/thumbs/signup/v2_4.png" rel="prettyPhoto[signup2]" title="V2 Alternate Error Message" style="display:none">
			<img src="#" width="410" height="331" alt="V2 Alternate Error Message" /></a>
		<a href="/storage/images/portfolio/signup/v2_5.png" rel="prettyPhoto[signup2]" title="V2 Valid Data" style="display:none">
			<img src="#" width="410" height="331" alt="V2 Valid Data" /></a>
		<a href="/storage/images/portfolio/signup/v2_6.png" rel="prettyPhoto[signup2]" title="V2 Alternate Valid Message" style="display:none">
			<img src="#" width="410" height="331" alt="V2 Alternate Valid Message" /></a>
		<a href="/storage/images/portfolio/signup/other_vs.png" rel="prettyPhoto[signup2]" title="Alternative Messages" style="display:none">
			<img src="#" width="410" height="331" alt="Alternative Messages" /></a>
	</div>
	<div class="signup_left2">
		<a href="/storage/images/portfolio/signup/v2_2.png" rel="prettyPhoto[signup1]" title="V2 Loading">
			<img src="/storage/images/portfolio/thumbs/signup/v2_2_thumb.png" width="128" height="106" alt="V2 Loading" /></a>
		<a href="/storage/images/portfolio/signup/v2_3.png" rel="prettyPhoto[signup1]" title="V2 Error">
			<img src="/storage/images/portfolio/thumbs/signup/v2_3_thumb.png" width="128" height="106" alt="V2 Error" /></a>
		<a href="/storage/images/portfolio/signup/v2_4.png" rel="prettyPhoto[signup1]" title="V2 Alternate Error Message">
			<img src="/storage/images/portfolio/thumbs/signup/v2_4_thumb.png" width="128" height="106" alt="V2 Alternate Error Message" /></a>
	</div> <!-- break -->
	<div class="signup_left3">
		<a href="/storage/images/portfolio/signup/v2_5.png" rel="prettyPhoto[signup1]" title="V2 Valid Data">
			<img src="/storage/images/portfolio/thumbs/signup/v2_5_thumb.png" width="128" height="106" alt="V2 Valid Data" /></a>
		<a href="/storage/images/portfolio/signup/v2_6.png" rel="prettyPhoto[signup1]" title="V2 Alternate Valid Message">
			<img src="/storage/images/portfolio/thumbs/signup/v2_6_thumb.png" width="128" height="106" alt="V2 Alternate Valid Message" /></a>
		<a href="/storage/images/portfolio/signup/other_vs.png" rel="prettyPhoto[signup1]" title="Alternative Messages">
			<img src="/storage/images/portfolio/thumbs/signup/other_vs_thumb.png" width="128" height="106" alt="Alternative Messages" /></a>
	</div>
	<div class="text_stage textwebform">
		<div class="textwebform_text">
				hi
		</div>
	</div>
</div>