<div id="so_acct">
	<h2 class="mywork" style="display:none;">The web</h2>
<h3><a name="account">User Account Pages</a></h3>
	<div class="acct_left">
		<a href="/storage/images/portfolio/so/acct/page-01.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="/storage/images/portfolio/so/acct/page-01.png" width="194" height="194" alt="Account" /></a>
		<a href="/storage/images/portfolio/so/acct/page-02.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="/storage/images/portfolio/so/acct/page-02.png" width="194" height="194" alt="Upgrade Plan 1" /></a>
		<a href="/storage/images/portfolio/so/acct/page-03.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="/storage/images/portfolio/so/acct/page-03.png" width="194" height="194" alt="Upgrade Plan 2" /></a>
		<a href="/storage/images/portfolio/so/acct/page-04.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="/storage/images/portfolio/so/acct/page-04.png" width="194" height="194" alt="Billing Validation" /></a>
		<a href="/storage/images/portfolio/so/acct/page-05.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="Confirm Order" /></a>
		<a href="/storage/images/portfolio/so/acct/page-06.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="Edit Account Details 1" /></a>
		<a href="/storage/images/portfolio/so/acct/page-07.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 2" /></a>
		<a href="/storage/images/portfolio/so/acct/page-08.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 3" /></a>
		<a href="/storage/images/portfolio/so/acct/page-09.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 4" /></a>
		<a href="/storage/images/portfolio/so/acct/page-10.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 5" /></a>
		<a href="/storage/images/portfolio/so/acct/page-11.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 6" /></a>
		<a href="/storage/images/portfolio/so/acct/page-12.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 7" /></a>
		<a href="/storage/images/portfolio/so/acct/page-13.png" rel="prettyPhoto[soAcct1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Update Billing" /></a>
	</div> <!-- acct_left -->
	<div class="acct_right">
		<a href="/storage/images/portfolio/so/acct/page-01.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="/storage/images/portfolio/so/acct/page-01_crop.png" width="498.5px" height="355.5px" alt="Account" /></a>
		<a href="/storage/images/portfolio/so/acct/page-02.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Upgrade Plan 1" /></a>
		<a href="/storage/images/portfolio/so/acct/page-03.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Upgrade Plan 2" /></a>
		<a href="/storage/images/portfolio/so/acct/page-04.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Billing Validation" /></a>
		<a href="/storage/images/portfolio/so/acct/page-05.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Confirm Order" /></a>
		<a href="/storage/images/portfolio/so/acct/page-06.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 1" /></a>
		<a href="/storage/images/portfolio/so/acct/page-07.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 2" /></a>
		<a href="/storage/images/portfolio/so/acct/page-08.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 3" /></a>
		<a href="/storage/images/portfolio/so/acct/page-09.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 4" /></a>
		<a href="/storage/images/portfolio/so/acct/page-10.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 5" /></a>
		<a href="/storage/images/portfolio/so/acct/page-11.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 6" /></a>
		<a href="/storage/images/portfolio/so/acct/page-12.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Edit Account Details 7" /></a>
		<a href="/storage/images/portfolio/so/acct/page-13.png" rel="prettyPhoto[soAcct2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Update Billing" /></a>
	</div> <!-- acct_right -->
	<div class="text_stage acct" style="display:none">
		<div class="text_stage_text">
			Lorem
		</div>
	</div>
</div> <!-- so_acct -->