<div id="so_client_installers">
<h3><a name="client">Desktop Application Installation Graphics</a></h3>
	<div class="dt_client_left">
		<a href="/storage/images/portfolio/so/installers/mac_installer_blue.png" rel="prettyPhoto[dtClient1]" title="Redesigned Blue product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/thumbs/blue_crop.png" width="194" height="194"  alt="Blue Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/mac_installer_orange.png" rel="prettyPhoto[dtClient1]" title="Redesigned Orange product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/thumbs/orange_crop.png" width="194" height="194" alt="Orange Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/mac_installer_bss.png" rel="prettyPhoto[dtClient1]" title="Redesigned Backup, Sync, Share product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/thumbs/bss_crop.png" width="194" height="194" style="display:none" alt="BSS Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_blue.png" rel="prettyPhoto[dtClient1]" title="Redesigned Blue product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_blue.png" width="194" height="194" alt="Blue MSI Setup Images" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_orange.png" rel="prettyPhoto[dtClient1]" title="Redesigned Orange product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_orange.png" width="194" height="194" alt="Orange MSI Setup Images" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_bss.png" rel="prettyPhoto[dtClient1]" title="Redesigned BSS product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_bss.png" width="194" height="194" style="display:none" alt="BSS MSI Setup Images" /></a>
	</div><!-- dt_client_left -->
	<div class="dt_client_right">
		<a href="/storage/images/portfolio/so/installers/mac_installer_blue.png" rel="prettyPhoto[dtClient2]" title="Redesigned Blue product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/mac_installer_blue.png" alt="Blue Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/mac_installer_orange.png" rel="prettyPhoto[dtClient2]" title="Redesigned Orange product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/mac_installer_orange.png" width="194" height="194" style="display:none" alt="Orange Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/mac_installer_bss.png" rel="prettyPhoto[dtClient2]" title="Redesigned Backup, Sync, Share product Mac .dmg file background">
			<img src="/storage/images/portfolio/so/installers/mac_installer_bss.png" width="194" height="194" style="display:none" alt="BSS Mac Finder Installer" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_blue.png" rel="prettyPhoto[dtClient2]" title="Redesigned Blue product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_blue.png" width="194" height="194" style="display:none" alt="Blue MSI Setup Images" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_orange.png" rel="prettyPhoto[dtClient2]" title="Redesigned Orange product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_orange.png" width="194" height="194" style="display:none" alt="Orange MSI Setup Images" /></a>
		<a href="/storage/images/portfolio/so/installers/msi_bss.png" rel="prettyPhoto[dtClient2]" title="Redesigned BSS product Windows MSI setup background & banner">
			<img src="/storage/images/portfolio/so/installers/msi_bss.png" width="194" height="194" style="display:none" alt="BSS MSI Setup Images" /></a>
	</div><!-- dt_client_right -->
	<div class="text_stage dt_text" style="display:none">
		<div class="text_stage_text">
			Lorem
	</div>
</div>
</div> <!-- so_client_installers -->