<div id="so_installers">
	<h2 class="mywork">Desktop applications</h2>
<h3><a name="icons">Desktop Installation Icons</a></h3>
	<div class="removables">
		<a href="/storage/images/portfolio/so/installers/blue_mac_removable.png" rel="prettyPhoto[icons]" title="Blue Product Mac .dmg Icon">
			<img src="/storage/images/portfolio/so/installers/blue_mac_removable.png" width="194" height="194"  alt="Blue" /></a>
		<a href="/storage/images/portfolio/so/installers/orange_mac_removable.png" rel="prettyPhoto[icons]" title="Orange Product Mac .dmg Icon">
			<img src="/storage/images/portfolio/so/installers/orange_mac_removable.png" width="194" height="194" alt="Orange" /></a>
		<a href="/storage/images/portfolio/so/installers/orange_clouds_removable.png" rel="prettyPhoto[icons]" title="Clouds Concept Icon">
			<img src="/storage/images/portfolio/so/installers/orange_clouds_removable.png" width="194" height="194" alt="Clouds Concept" /></a>
	</div><!-- removables -->
	<div class="text_stage icons_text" style="display:none">
		<div class="text_stage_text">
			Lorem
		</div>
	</div>
</div> <!-- so_installers -->