<div id="so_mcshare">
	<h2 class="mywork" style="display:none;">More of the web</h2>
<h3><a name="mcshare">Administration ShareRoom Control</a></h3>
	<div class="mcshare_left">
		<a href="/storage/images/portfolio/so/mcshare/page-01.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="/storage/images/portfolio/so/mcshare/page-01_crop.png" width="194" height="194" alt="List by User" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-02.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="/storage/images/portfolio/so/mcshare/page-02.png" width="194" height="194" alt="List by User - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-03.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="/storage/images/portfolio/so/mcshare/page-03.png" width="194" height="194" alt="Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-04.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="/storage/images/portfolio/so/mcshare/page-04.png" width="194" height="194" alt="Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-05.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="Expanded" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-06.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="Expanded - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-07.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-08.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-09.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded dropdown" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-10.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="List by Share" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-11.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="List by Share - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-12.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-13.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-14.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-15.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-16.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-17.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-18.png" rel="prettyPhoto[mcshare1]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded dropdown" /></a>
	</div> <!-- mcshare_left -->
	<div class="mcshare_right">
		<a href="/storage/images/portfolio/so/mcshare/page-01.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="/storage/images/portfolio/so/mcshare/page-01.png" width="394" height="394" alt="List by User" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-02.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="List by User - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-03.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-04.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-05.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-06.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-07.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-08.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-09.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded dropdown" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-10.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="List by Share" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-11.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="List by Share - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-12.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-13.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-14.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-15.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-16.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-17.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded Kill-switch activated - Annotated" /></a>
		<a href="/storage/images/portfolio/so/mcshare/page-18.png" rel="prettyPhoto[mcshare2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Expanded dropdown" /></a>
	</div> <!-- mcshare_right -->
	<div class="text_stage mcshare" style="display:none">
		<div class="text_stage_text">
			Lorem
		</div>
	</div>
</div> <!-- so_mcshare -->