<div id="so_mobile">
	<h2 class="mywork" style="margin-top:20px;">Mobile applications</h2>
<div id="so_iOS">
<h3><a name="iOS">SpiderOak Mobile for iOS</a></h3>
	<div class="soiOS">
		<a href="/storage/images/portfolio/so/ios/page-02.png" rel="prettyPhoto[soiOS]" title="SpiderOak Mobile for iOS">
			<img src="/storage/images/portfolio/so/ios/page-02_crop.png" width="498.5px" height="355.5px"  alt="Login" /></a>
		<a href="/storage/images/portfolio/so/ios/page-03.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Login - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-04.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Access" /></a>
		<a href="/storage/images/portfolio/so/ios/page-05.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Access - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-06.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Folder Structure" /></a>
		<a href="/storage/images/portfolio/so/ios/page-07.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Folder Structure - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-08.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms" /></a>
		<a href="/storage/images/portfolio/so/ios/page-09.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-10.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Favorites" /></a>
		<a href="/storage/images/portfolio/so/ios/page-11.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Favorites - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-12.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Recents" /></a>
		<a href="/storage/images/portfolio/so/ios/page-13.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Recents - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-14.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Settings" /></a>
		<a href="/storage/images/portfolio/so/ios/page-15.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Settings - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-16.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Login" /></a>
		<a href="/storage/images/portfolio/so/ios/page-17.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Login - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-18.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Access" /></a>
		<a href="/storage/images/portfolio/so/ios/page-19.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Access - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-20.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Folder Structure" /></a>
		<a href="/storage/images/portfolio/so/ios/page-21.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Folder Structure - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-22.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad ShareRooms" /></a>
		<a href="/storage/images/portfolio/so/ios/page-23.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad ShareRooms - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-24.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Favorites" /></a>
		<a href="/storage/images/portfolio/so/ios/page-25.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Favorites - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-26.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Recents" /></a>
		<a href="/storage/images/portfolio/so/ios/page-27.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Recents - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-28.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Settings" /></a>
		<a href="/storage/images/portfolio/so/ios/page-29.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="iPad Settings - Annotated" /></a>
		<a href="/storage/images/portfolio/so/ios/page-30.png" rel="prettyPhoto[soiOS]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Portrait - Landscape" /></a>
	</div> <!-- soiOS -->
</div> <!-- so_iOS -->

<div id="so_android">
<h3><a name="android">SpiderOak Mobile for Android</a></h3>
	<div class="android">
		<a href="/storage/images/portfolio/so/and/page-02.png" rel="prettyPhoto[soAnd]" title="SpiderOak Mobile for Android">
			<img src="/storage/images/portfolio/so/and/page-02_crop.png" height="355.5px"  alt="Login" /></a>
		<a href="/storage/images/portfolio/so/and/page-03.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Login - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-04.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Access" /></a>
		<a href="/storage/images/portfolio/so/and/page-05.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Access - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-06.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Folder Structure" /></a>
		<a href="/storage/images/portfolio/so/and/page-07.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Folder Structure - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-08.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Search" /></a>
		<a href="/storage/images/portfolio/so/and/page-09.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Search - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-10.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms" /></a>
		<a href="/storage/images/portfolio/so/and/page-11.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-12.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Favorites" /></a>
		<a href="/storage/images/portfolio/so/and/page-13.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Favorites - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-14.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Recents" /></a>
		<a href="/storage/images/portfolio/so/and/page-15.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Recents - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-16.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Settings" /></a>
		<a href="/storage/images/portfolio/so/and/page-17.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Settings - Annotated" /></a>
		<a href="/storage/images/portfolio/so/and/page-18.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Backup Settings" /></a>
		<a href="/storage/images/portfolio/so/and/page-19.png" rel="prettyPhoto[soAnd]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="Backup Settings - Annotated" /></a>
	</div> <!-- android -->
</div> <!-- so_android -->
<div class="text_stage mobile">
	<div class="text_stage_text ios_text">
<p>Version 2 of the SpiderOak mobile application for iOS</p><br />
		<a href="https://itunes.apple.com/us/app/spideroak/id360584371?mt=8&uo=4" target="itunes_store" onclick="_gaq.push(['_trackEvent', 'clicks', 'links', 'iOS',1]);">
			<img src="http://r.mzstatic.com/images/web/linkmaker/badge_appstore-lrg.gif" alt="SpiderOak - SpiderOak, Inc." style="border: 0;"/>
		</a>
	</div>
	<div class="text_stage_text android_text">
<p>Version 2 of the SpiderOak mobile application for Android</p><br />
		<a href="https://play.google.com/store/apps/details?id=com.spideroak.android" target="_blank" onclick="_gaq.push(['_trackEvent', 'clicks', 'links', 'Android',1]);">
			<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
		</a>
	</div>
</div>
</div> <!-- so_mobile -->