<div id="so_sr-fv">
	<h2 class="mywork" style="display:none;">More of the web</h2>
<h3><a name="fileview">ShareRooms - File view</a></h3>
	<div class="sr-fv_l">
		<a href="/storage/images/portfolio/so/sr-fv/page-1.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="/storage/images/portfolio/so/sr-fv/page-1.png" width="194" height="194" alt="ShareRooms File view" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-2.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="/storage/images/portfolio/so/sr-fv/page-2.png" width="194" height="194" alt="ShareRooms - Pagination" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-3.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="/storage/images/portfolio/so/sr-fv/page-3.png" width="194" height="194" alt="ShareRooms with share options" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-4.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="/storage/images/portfolio/so/sr-fv/page-4.png" width="194" height="194" alt="ShareRooms - file info" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-5.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="ShareRooms file navigation" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-6.png" rel="prettyPhoto[sr-fv1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="ShareRooms - file loading" /></a>
	</div> <!-- sr-fv_l -->
	<div class="sr-fv_r">
		<a href="/storage/images/portfolio/so/sr-fv/page-1.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="/storage/images/portfolio/so/sr-fv/page-1_crop.png" width="394" height="394" alt="ShareRooms File view" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-2.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Pagination" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-3.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms with share options" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-4.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - file info" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-5.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms file navigation" /></a>
		<a href="/storage/images/portfolio/so/sr-fv/page-6.png" rel="prettyPhoto[sr-fv2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - file loading" /></a>
	</div> <!-- sr-fv_r -->
	<div class="text_stage sr-fv" style="display:none">
		<div class="text_stage_text">
			Lorem
		</div>
	</div>
</div> <!-- so_sr-fv -->