<div id="so_srHome">
	<h2 class="mywork" style="display:none;">More of the web</h2>
<h3><a name="share">ShareRooms - Top level</a></h3>
	<div class="srHome_l">
		<a href="/storage/images/portfolio/so/sr_home/page-1.png" rel="prettyPhoto[srHome1]" title="">
			<img src="/storage/images/portfolio/so/sr_home/page-1.png" width="194" height="194" alt="ShareRooms Home" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-2.png" rel="prettyPhoto[srHome1]" title="">
			<img src="/storage/images/portfolio/so/sr_home/page-2.png" width="194" height="194" alt="ShareRooms - Annotated" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-3.png" rel="prettyPhoto[srHome1]" title="">
			<img src="/storage/images/portfolio/so/sr_home/page-3.png" width="194" height="194" alt="ShareRooms with tooltips" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-4.png" rel="prettyPhoto[srHome1]" title="">
			<img src="/storage/images/portfolio/so/sr_home/page-4.png" width="194" height="194" alt="ShareRooms - Usage" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-5.png" rel="prettyPhoto[srHome1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="ShareRooms dropdown" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-6.png" rel="prettyPhoto[srHome1]" title="">
			<img src="#" style="display:none" width="194" height="194" alt="ShareRooms - email" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-7.png" rel="prettyPhoto[srHome1]" title="">
			<img src="#" width="194" height="194" style="display:none" style="display:none" alt="ShareRooms - Bonus" /></a>
	</div> <!-- srHome_l -->
	<div class="srHome_r">
		<a href="/storage/images/portfolio/so/sr_home/page-1.png" rel="prettyPhoto[srHome2]" title="">
			<img src="/storage/images/portfolio/so/sr_home/page-1_crop.png" width="394" height="394" alt="ShareRooms Home" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-2.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Annotated" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-3.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms with tooltips" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-4.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Usage" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-5.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms dropdown" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-6.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - email" /></a>
		<a href="/storage/images/portfolio/so/sr_home/page-7.png" rel="prettyPhoto[srHome2]" title="">
			<img src="#" width="194" height="194" style="display:none" alt="ShareRooms - Bonus" /></a>
	</div> <!-- srHome_r -->
	<div class="text_stage srHome" style="display:none">
		<div class="text_stage_text">
			Lorem
		</div>
	</div>
</div> <!-- so_srHome -->