<div id="so_web_access">
<h2 class="mywork">The web</h2>
<h3><a name="access">Web File Browsing</a></h3>
	<div class="web_access_left">
		<a href="/storage/images/portfolio/so/web-access/web-access-top.png" rel="prettyPhoto[web_access1]" title="SpiderOak Web File Access">
			<img src="/storage/images/portfolio/so/web-access/thumbs/web-access-top_crop.png" width="194" height="194"  alt="Web Access" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-top-details-tooltips.png" rel="prettyPhoto[web_access1]" title="">
			<img src="/storage/images/portfolio/so/web-access/thumbs/web-access-top-details-tooltips_crop.png" width="194" height="194" alt="Web Access - tooltips" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-detail-view-l2.png" rel="prettyPhoto[web_access1]" title="">
			<img src="/storage/images/portfolio/so/web-access/thumbs/web-access-detail-view-l2_crop.png" width="194" height="194" alt="Web Access Detail View L2" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-top-icon.png" rel="prettyPhoto[web_access1]" title="">
			<img src="/storage/images/portfolio/so/web-access/thumbs/web-access-top-icon_crop.png" width="194" height="194" alt="Web Access - Icon View" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-icon-view.png" rel="prettyPhoto[web_access1]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access - Icon View L2" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-file-w-info.png" rel="prettyPhoto[web_access1]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access File w/ Info" /></a>
	</div><!-- web_access_left -->
	<div class="web_access_right">
		<a href="/storage/images/portfolio/so/web-access/web-access-top.png" rel="prettyPhoto[web_access2]" title="SpiderOak Web File Access">
			<img src="/storage/images/portfolio/so/web-access/thumbs/web-access-top_crop.png" width="396" height="396"  alt="Web Access" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-top-details-tooltips.png" rel="prettyPhoto[web_access2]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access - tooltips" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-detail-view-l2.png" rel="prettyPhoto[web_access2]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access Detail View L2" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-top-icon.png" rel="prettyPhoto[web_access2]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access - Icon View" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-icon-view.png" rel="prettyPhoto[web_access2]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access - Icon View L2" /></a>
		<a href="/storage/images/portfolio/so/web-access/web-access-file-w-info.png" rel="prettyPhoto[web_access2]" title="" style="display:none">
			<img src="#" width="194" height="194" alt="Web Access File w/ Info" /></a>
	</div><!-- web_access_right -->
		<div class="text_stage access_text">
			<div class="text_stage_text">
				<p>When it comes to the overall style and functionality of the Web Access file viewing web app, I was really focusing on trying to create an experience that was consistent across platforms and devices. To me, that meant looking at existing structure and style frameworks that my developers were already using and familiar with. In our case, <a href="http://twitter.github.com/bootstrap/" title="Bootstrap">Twitter’s Bootstrap framework</a> for the web, and creating similar styles as I had used in designing the mobile application’s for iOS and Android devices.</p>

			</div>
		</div>
</div> <!-- so_web_access -->