<div id="web_container">
<h3><a name="theweb">The Web</a></h3>
		<div class="web_ark_left">
			<a href="/storage/images/portfolio/web/featured_web.png" rel="prettyPhoto[arkWeb1]" title="Ark's Featured Stores page">
				<img src="/storage/images/portfolio/thumbs/web/featured_crop.png" width="194" height="194"  alt="Featured Stores" /></a>
			<a href="/storage/images/portfolio/web/all_stores_web.png" rel="prettyPhoto[arkWeb1]" title="All Stores on Ark">
				<img src="/storage/images/portfolio/thumbs/web/all_stores_crop.png" width="194" height="194" alt="All Stores" /></a>
			<a href="/storage/images/portfolio/web/todays_deals_web.png" rel="prettyPhoto[arkWeb1]" title="Today's deals by location">
				<img src="/storage/images/portfolio/thumbs/web/todays_deals_crop.png" width="194" height="194" alt="Today's Deals" /></a>
			<a href="/storage/images/portfolio/web/search_web.png" rel="prettyPhoto[arkWeb1]" title="This is how using Ark's search box will look">
				<img src="/storage/images/portfolio/thumbs/web/search_crop.png" width="194" height="194" alt="Site Search" /></a>
		</div><!-- web_ark_left -->
		<div class="web_ark_right">
			<a href="/storage/images/portfolio/web/featured_web.png" rel="prettyPhoto[arkWeb2]" title="Ark's Featured Stores page">
				<img src="/storage/images/portfolio/thumbs/web/featured_crop_right.png" width="393" height="393" alt="Featured Stores" /></a>
			<a href="/storage/images/portfolio/web/all_stores_web.png" rel="prettyPhoto[arkWeb2]" title="All Stores on Ark">
				<img src="/storage/images/portfolio/thumbs/web/all_stores_crop.png" width="194" height="194" style="display:none" alt="All Stores" /></a>
			<a href="/storage/images/portfolio/web/todays_deals_web.png" rel="prettyPhoto[arkWeb2]" title="Today's deals by location">
				<img src="/storage/images/portfolio/thumbs/web/todays_deals_crop.png" width="194" height="194" style="display:none" alt="Today's Deals" /></a>
			<a href="/storage/images/portfolio/web/search_web.png" rel="prettyPhoto[arkWeb2]" title="This is how using Ark's search box will look">
				<img src="/storage/images/portfolio/thumbs/web/search_crop.png" width="194" height="194" style="display:none" alt="Site Search" /></a>
		</div><!--web_ark_right -->
<div style="height:105px;margin-top:12px;">
		<div class="text_stage the_web_text">
			<div class="text_stage_text">I designed the internal content structure for several pages of the <a href="http://www.ark.com" title="Ark">Ark</a> V2 prototype. My task was to create a concept of what the &#39;Shop&#39; section of the site would look like. The first active sub-navigation module was &#39;Featured&#39; which was designed to show off some of the top products offered by featured stores on Ark&#39;s network. &#39;All Stores&#39; features the ability to view the featured products within a carousel on mouse-over. &#39;Today&#39;s Deals&#39; focuses heavily on location-based personalization.</div>
		</div><!-- text_stage -->
</div>
</div> <!-- web_container -->