<div id="wireframe">
	<h3><a name="wireframe">This Site's Wireframe</a></h3>
	<div class="wireframe_left">
		<a href="http://farm6.static.flickr.com/5215/5446338736_62bedf10ff_b.jpg" title ="Real Uses Wireframe - Home" rel="prettyPhoto[wf1]">
			<img src="/storage/images/portfolio/thumbs/wireframe/wf1.png" alt="Real Uses Wireframe - Home" width="217" height="164" />
		</a>
		<a href="http://farm6.static.flickr.com/5133/5445855633_250df25624_b.jpg" title="Real Uses Wireframe - Resume" rel="prettyPhoto[wf1]" style="display:none">
			<img src="#" alt="Real Uses Wireframe - Resume" width="217" height="164" />
		</a>
		<a href="http://farm6.static.flickr.com/5012/5445855883_7835854403_b.jpg" title="Real Uses Wireframe - Portfolio" rel="prettyPhoto[wf1]">
			<img src="/storage/images/portfolio/thumbs/wireframe/wf3.png" alt="Real Uses Wireframe - Portfolio" width="217" height="164" />
		</a>
	</div><!-- wireframe_left -->
	<div class="wireframe_right">
		<a href="http://farm6.static.flickr.com/5215/5446338736_62bedf10ff_b.jpg" title ="Real Uses Wireframe - Home" rel="prettyPhoto[wf2]" style="display:none">
			<img src="#" alt="Real Uses Wireframe - Home" height="333" width="438" />
		</a>
		<a href="http://farm6.static.flickr.com/5133/5445855633_250df25624_b.jpg" title="Real Uses Wireframe - Resume" rel="prettyPhoto[wf2]">
			<img src="/storage/images/portfolio/thumbs/wireframe/wf2.png" alt="Real Uses Wireframe - Resume" height="333" width="438" />
		</a>
		<a href="http://farm6.static.flickr.com/5012/5445855883_7835854403_b.jpg" title="Real Uses Wireframe - Portfolio" rel="prettyPhoto[wf2]" style="display:none">
			<img src="#" alt="Real Uses Wireframe - Portfolio" height="333" width="438" />
		</a>
	</div><!-- wireframe_left -->
</div><!-- wireframe -->