---
layout: default
title: Portfolio
---

{% include top.html %}
<div id="wrapper">
	{% include portfolio_contact_container.html %}
	{% gist michaelcrane/dc888fd8a767f13ae04e %}
	<h2>I've worked on and designed for...</h2>
<div height="20px">
</div>
<hr class="separator2">
<hr class="separator2">
{% include so_web_access.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_fvTop.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_srHome.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_sr-fv.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_acct.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_mcshare.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_mobile.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_installers.html %}
<hr class="separator2">
<hr class="separator2">
{% include so_client_installers.html %}
<hr />
{% include web_container.html %}
<hr />
<!-- first_app_container -->
<div id="first_app_container">
<h3><a name="arkmobile">Mobile Apps</a></h3>
<!-- app_left -->
	<!-- <div class="app_left"> -->
	<div class="app_left1">
		<a href="/storage/images/portfolio/iphone/screens/1_dashboard/1_dashboard.png" rel="prettyPhoto[arkApp]" title="Ark Mobile Dashboard View">
			<img src="/storage/images/portfolio/iphone/screens/1_dashboard/1_dashboard.png" width="125" height="238" alt="Dashboard View"/></a>
		<a href="/storage/images/portfolio/iphone/screens/1_dashboard/2_dash_action.png" rel="prettyPhoto[arkApp]" title="Dashboard Action Sheet Slides up to display options.">
			<img src="#" width="125" height="238" alt="Dashboard Action Sheet" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/1_stores.png" rel="prettyPhoto[arkApp]" title="List of all the current stores on the Ark network.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/1_stores.png" width="125" height="238" alt="All Stores View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/2_stores.png" rel="prettyPhoto[arkApp]" title="Filtering of stores by category.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/2_stores.png" width="125" height="238" alt="Store Categories View" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/3_stores.png" rel="prettyPhoto[arkApp]" title="Top, popular and promoted stores on Ark.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/3_stores.png" width="125" height="238" alt="Featured Stores View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/4_search1.png" rel="prettyPhoto[arkApp]" title="Activated by tapping on the search magnify glass.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/4_search1.png" width="125" height="238" alt="Search activated with keyboard" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/5_search2.png" rel="prettyPhoto[arkApp]" title="Searching by store name.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/5_search2.png" width="125" height="238" alt="Search text area to top - Stores active" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/6_search3.png" rel="prettyPhoto[arkApp]" title="Searching by product.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/6_search3.png" width="125" height="238" alt="Products active" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/7_my_stores.png" rel="prettyPhoto[arkApp]" title="User can choose the top stores they visit, and have quick access to them.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/7_my_stores.png" width="125" height="238" alt="My Stores" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/8_location_s.png" rel="prettyPhoto[arkApp]" title="This is a concept feature of the site, using location services in iOS, it's required to alert and ask permission of the user to use the GPS.">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/8_location_s.png" width="125" height="238" alt="Location Services" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/1_all_causes.png" rel="prettyPhoto[arkApp]" title="Front Causes view.">
	</div><!-- app_left1 -->
	<div class="app_right">
		<a href="/storage/images/portfolio/iphone/screens/1_dashboard/1_dashboard.png" rel="prettyPhoto[arkApp2]" title="Ark Mobile Dashboard View">
			<img src="/storage/images/portfolio/iphone/screens/1_dashboard/1_dashboard.png" width="248" height="477" alt="Dashboard View"/></a>
		<a href="/storage/images/portfolio/iphone/screens/1_dashboard/2_dash_action.png" rel="prettyPhoto[arkApp2]" title="Dashboard Action Sheet Slides up to display options." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/1_dashboard/2_dash_action.png" width="125" height="238" alt="Dashboard Action Sheet" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/1_stores.png" rel="prettyPhoto[arkApp2]" title="List of all the current stores on the Ark network." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/1_stores.png" width="125" height="238" alt="All Stores View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/2_stores.png" rel="prettyPhoto[arkApp2]" title="Filtering of stores by category." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/2_stores.png" width="125" height="238" alt="Store Categories View" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/3_stores.png" rel="prettyPhoto[arkApp2]" title="Top, popular and promoted stores on Ark." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/3_stores.png" width="125" height="238" alt="Featured Stores View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/4_search1.png" rel="prettyPhoto[arkApp2]" title="Activated by tapping on the search magnify glass." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/4_search1.png" width="125" height="238" alt="Search activated with keyboard" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/5_search2.png" rel="prettyPhoto[arkApp2]" title="Searching by store name." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/5_search2.png" width="125" height="238" alt="Search text area to top - Stores active" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/6_search3.png" rel="prettyPhoto[arkApp2]" title="Searching by product." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/6_search3.png" width="125" height="238" alt="Products active" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/7_my_stores.png" rel="prettyPhoto[arkApp2]" title="User can choose the top stores they visit, and have quick access to them." style="display:none">
			<img src="/storage/images/portfolio/iphone/screens/2_earn/7_my_stores.png" width="125" height="238" alt="My Stores" /></a>
		<a href="/storage/images/portfolio/iphone/screens/2_earn/8_location_s.png" rel="prettyPhoto[arkApp2]" title="This is a concept feature of the site, using location services in iOS, it's required to alert and ask permission of the user to use the GPS." style="display:none">
			<img src="#" width="125" height="238" alt="Location Services" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/1_all_causes.png" rel="prettyPhoto[arkApp2]" title="Front Causes view." style="display:none">
			<img src="#" width="125" height="238" alt="Causes Main View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/2_causes_drawer2.png" rel="prettyPhoto[arkApp2]" title="Allowing for quick access to the most important features." style="display:none">
			<img src="#" width="125" height="238" alt="Causes Donate Drawer" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/3_causes_drawer3.png" rel="prettyPhoto[arkApp2]" title="In case the amount the user wants to give is not an option." style="display:none">
			<img src="#" width="125" height="238" alt="Manual entry" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/4_causes_drawer1.png" rel="prettyPhoto[arkApp2]" title="Allowing for quick access to the easiest ways to spread the word." style="display:none">
			<img src="#" width="125" height="238" alt="Causes with Share Drawer" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/5_causes_page1.png" rel="prettyPhoto[arkApp2]" title="This is what a Cause page will look like." style="display:none">
			<img src="#" width="125" height="238" alt="Main Cause Page view" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/6_causes_page2.png" rel="prettyPhoto[arkApp2]" title="View of the Arktivity feed of that cause." style="display:none">
			<img src="#" width="125" height="238" alt="Cause Arktivity view" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/7_causes_page3.png" rel="prettyPhoto[arkApp2]" title="Very simple, easy way to donate." style="display:none">
			<img src="#" width="125" height="238" alt="Cause Page Modal Donate" title="Title" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/8_causes_page4.png" rel="prettyPhoto[arkApp2]" title="In case the amount the user wants to give is not an option." style="display:none">
			<img src="#" width="125" height="238" alt="Cause Page Modal Donate Number Pad" title="Title" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/9_search1.png" rel="prettyPhoto[arkApp2]" title="Similar functionality to store and product search." style="display:none">
			<img src="#" width="125" height="238" alt="Search again. This time for causes." /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/10_search2.png" rel="prettyPhoto[arkApp2]" title="Chances are you've searched for it prior, less typing." style="display:none">
			<img src="#" width="125" height="238" alt="Causes Search with History" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/1arktivity.png" rel="prettyPhoto[arkApp2]" title="Same functionality as Facebook." style="display:none">
			<img src="#" width="125" height="238" alt="Arktivity with modal Like/Comment" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/2arktivity.png" rel="prettyPhoto[arkApp2]" title="Different from Facebook. Here the user has a unique ability to see what they are replying to. I like to see what the message or comment is I'm replying to so I don't miss anything in the message." style="display:none">
			<img src="#" width="125" height="238" alt="Compose Comment View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/3likes.png" rel="prettyPhoto[arkApp2]" title="Full list of causes and posts the user has 'Liked' in the past for quick reference." style="display:none">
			<img src="#" width="125" height="238" alt="Your Like's View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/4likes.png" rel="prettyPhoto[arkApp2]" title="For fast sharing ability." style="display:none">
			<img src="#" width="125" height="238" alt="'You Like this' share drawer" style="display:none"/></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/5messages.png" rel="prettyPhoto[arkApp2]" title="Standard Inbox view, with a few visual cues." style="display:none">
			<img src="#" width="125" height="238" alt="Messages Inbox View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/6messages.png" rel="prettyPhoto[arkApp2]" title="Standard compose view of Facebook and Ark." style="display:none">
			<img src="#" width="125" height="238" alt="Compose New Message View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/7messages.png" rel="prettyPhoto[arkApp2]" title="Viewing the message body and details." style="display:none">
			<img src="#" width="125" height="238" alt="Message Details View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/8messages.png" rel="prettyPhoto[arkApp2]" title="Similar setup as commenting. The user has the ability to see what they are replying to." style="display:none">
			<img src="#" width="125" height="238" alt="Message Reply View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/1settings.png" style="display:none" rel="prettyPhoto[arkApp2]" title="The mobile app design and functionaility takes into account that the user might be using it on a phone with cell service.">
			<img src="#" width="125" height="238" alt="Application Settings View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/2settings.png" style="display:none" rel="prettyPhoto[arkApp2]" title="User has the ability to precache a certain number of sceens forward. The purpose is to improve the percieved speed and loading of the Arktivity view. Also enabling viewing in areas with little or no cell service, given the app was previously launched before cell service was lost.">
			<img src="#" width="125" height="238" alt="Advanced Settings View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/3settings.png" rel="prettyPhoto[arkApp2]" title="User also has the option to turn precaching and/or photo downloading off to save on data costs." style="display:none">
			<img src="#" width="125" height="238" alt="Advanced Settings - Disabled" /></a>
	</div><!-- app_right -->
			<!-- app_right -->
			<!-- break -->
	<div class="app_left2">
		<a href="/storage/images/portfolio/iphone/screens/3_causes/1_all_causes.png" rel="prettyPhoto[arkApp]" title="Causes Main View">
			<img src="/storage/images/portfolio/iphone/screens/3_causes/1_all_causes.png" width="125" height="238" alt="Causes Main View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/2_causes_drawer2.png" rel="prettyPhoto[arkApp]" title="Allowing for quick access to the most important features." style="display:none">
			<img src="#" width="125" height="238" alt="Causes Donate Drawer" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/3_causes_drawer3.png" rel="prettyPhoto[arkApp]" title="In case the amount the user wants to give is not an option.">
			<img src="/storage/images/portfolio/iphone/screens/3_causes/3_causes_drawer3.png" width="125" height="238" alt="Manual entry" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/4_causes_drawer1.png" rel="prettyPhoto[arkApp]" title="Allowing for quick access to the easiest ways to spread the word." style="display:none">
			<img src="#" width="125" height="238" alt="Causes with Share Drawer" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/5_causes_page1.png" rel="prettyPhoto[arkApp]" title="This is what a Cause page will look like.">
			<img src="/storage/images/portfolio/iphone/screens/3_causes/5_causes_page1.png" width="125" height="238" alt="Main Cause Page view" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/6_causes_page2.png" rel="prettyPhoto[arkApp]" title="View of the Arktivity feed of that cause." style="display:none">
			<img src="#" width="125" height="238" alt="Cause Arktivity view" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/7_causes_page3.png" rel="prettyPhoto[arkApp]" title="Very simple, easy way to donate.">
			<img src="/storage/images/portfolio/iphone/screens/3_causes/7_causes_page3.png" width="125" height="238" alt="Cause Page Modal Donate" title="Title" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/8_causes_page4.png" rel="prettyPhoto[arkApp]" title="In case the amount the user wants to give is not an option." style="display:none">
			<img src="#" width="125" height="238" alt="Cause Page Modal Donate Number Pad" title="Title" /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/9_search1.png" rel="prettyPhoto[arkApp]" title="Similar functionality to store and product search.">
			<img src="/storage/images/portfolio/iphone/screens/3_causes/9_search1.png" width="125" height="238" alt="Search again. This time for causes." /></a>
		<a href="/storage/images/portfolio/iphone/screens/3_causes/10_search2.png" rel="prettyPhoto[arkApp]" title="Chances are you've searched for it prior, less typing." style="display:none">
			<img src="#" width="125" height="238" alt="Causes Search with History" /></a>
	</div><!-- app_left2 -->
			<!-- break -->
	<div class="app_left3">
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/1arktivity.png" rel="prettyPhoto[arkApp]" title="Same functionality as Facebook.">
			<img src="/storage/images/portfolio/iphone/screens/4_my_ark/1arktivity.png" width="125" height="238" alt="Arktivity with modal Like/Comment" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/2arktivity.png" rel="prettyPhoto[arkApp]" title="Different from Facebook. Here the user has a unique ability to see what they are replying to. I like to see what the message or comment is I'm replying to so I don't miss anything in the message." style="display:none">
			<img src="#" width="125" height="238" alt="Compose Comment View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/3likes.png" rel="prettyPhoto[arkApp]" title="Full list of causes and posts the user has 'Liked' in the past for quick reference.">
			<img src="/storage/images/portfolio/iphone/screens/4_my_ark/3likes.png" width="125" height="238" alt="Your Like's View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/4likes.png" rel="prettyPhoto[arkApp]" title="For fast sharing ability." style="display:none">
			<img src="#" width="125" height="238" alt="'You Like this' share drawer" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/5messages.png" rel="prettyPhoto[arkApp]" title="Standard Inbox view, with a few visual cues.">
			<img src="/storage/images/portfolio/iphone/screens/4_my_ark/5messages.png" width="125" height="238" alt="Messages Inbox View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/6messages.png" rel="prettyPhoto[arkApp]" title="Standard compose view of Facebook and Ark." style="display:none">
			<img src="#" width="125" height="238" alt="Compose New Message View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/7messages.png" rel="prettyPhoto[arkApp]" title="Viewing the message body and details.">
			<img src="/storage/images/portfolio/iphone/screens/4_my_ark/7messages.png" width="125" height="238" alt="Message Details View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/4_my_ark/8messages.png" rel="prettyPhoto[arkApp]" title="Similar setup as commenting. The user has the ability to see what they are replying to." style="display:none">
			<img src="#" width="125" height="238" alt="Message Reply View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/1settings.png" rel="prettyPhoto[arkApp]" title="The mobile app design and functionaility takes into account that the user might be using it on a phone with cell service." style="display:none">
			<img src="#" width="125" height="238" alt="Application Settings View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/2settings.png" rel="prettyPhoto[arkApp]" title="User has the ability to precache a certain number of sceens forward. The purpose is to improve the percieved speed and loading of the Arktivity view. Also enabling viewing in areas with little or no cell service, given the app was previously launched before cell service was lost.">
			<img src="/storage/images/portfolio/iphone/screens/5_settings/2settings.png" width="125" height="238" alt="Advanced Settings View" /></a>
		<a href="/storage/images/portfolio/iphone/screens/5_settings/3settings.png" rel="prettyPhoto[arkApp]" title="User also has the option to turn precaching and/or photo downloading off to save on data costs." style="display:none">
			<img src="#" width="125" height="238" alt="Advanced Settings - Disabled" /></a>
	</div><!-- app_left3 -->
		<!-- app_left -->
		<!-- app_right -->

<div class="text_stage app_text1">
<div class="text_stage_text">
If the screenshots remind you of an application you’ve used, I would say you have a good eye. Pat yourself on the back. The Ark site was originally designed to create a familiar interface for new Ark users using a Facebook look. My goal in creating the mobile application for Ark was to replicate as much functionality and look of the site as I could. I looked to the robust Facebook iPhone app for inspiration.</div>
</div>
<div class="text_stage app_text2">
<div class="text_stage_text">Other design elements of the app were inspired by some great designers including <a href="http://markjardine.com/" title="markjardine.com">Mark Jardine</a> (@<a href="http://twitter.com/intent/user?screen_name=markjardine">markjardine</a>) of <a href="http://tapbots.com/" title="Tapbots">Tapbots</a>, <a href="http://www.seankovacs.com" title="seankovacs.com">Sean Kovacs’s</a> (@<a href="http://twitter.com/intent/user?screen_name=seankovacs">seankovacs</a>) <a href="http://itunes.apple.com/us/app/gv-mobile-the-original-google/id392608246?mt=8" title="GV Mobile on iTunes">GV Mobile</a>, <a href="http://www.evernote.com/about/download/iphone/" title="Evernote iPhone App">Evernote</a> and several others.</div>
</div>
</div><!-- first_app_container -->
			<!-- first_app_container -->
<hr />
{% include app_flow_container.html %}
<hr />
<div id="redesign">
	<h3><a name="redesigns">Various Redesign's</a></h3>
	<h4><a name="wikigallery">Wikipedia Search Redesign</a></h3>
<div class="wikigallery">
<ul>
	<li>
		<a href="/storage/images/portfolio/wiki/org_original.png" title="Wikipedia's Landing Page" rel="wiki[wikiOrg]" />
			<img src="/storage/images/portfolio/thumbs/wiki/org_hover.png" width="228" height="228" alt="Original Wikipedia Landing Page" />
			<p>Homepage Redesign</p></a>
		<a href="/storage/images/portfolio/wiki/org.png" rel="wiki[wikiOrg]" title="Landing Page" style="display:none">
			<img src="#" alt="Redesigned Wikipedia Landing Page" /></a>
		<a href="/storage/images/portfolio/wiki/org_hover.png" rel="wiki[wikiOrg]" title="Portal Selector" style="display:none">
			<img src="#" alt="Landing Page Portal Selector" /></a>
		<a href="/storage/images/portfolio/wiki/org_search.png" rel="wiki[wikiOrg]" title="Search Autosuggest" style="display:none">
			<img src="#" alt="Search Autosuggest" /></a>
		<a href="/storage/images/portfolio/wiki/org_notes.png" rel="wiki[wikiOrg]" title="Annotations" style="display:none">
			<img src="#" alt="Landing Page Annotations" /></a>
	</li>
	<li>
		<a href="/storage/images/portfolio/wiki/main_original.png" title="Wikipedia's Main Page" rel="wiki[wikiMain]" />
			<img src="/storage/images/portfolio/thumbs/wiki/main_search.png" width="228" height="228" alt="Original Wikipedia Main Page"/>
			<p>Main Page Redesign</p></a>
		<a href="/storage/images/portfolio/wiki/main.png" rel="wiki[wikiMain]" title="" style="display:none">
			<img src="#" alt="Redesigned Wikipedia Main Page" /></a>
		<a href="/storage/images/portfolio/wiki/main_hover.png" rel="wiki[wikiMain]" title="" style="display:none">
			<img src="#" alt="Main Page Portal Selector" /></a>
		<a href="/storage/images/portfolio/wiki/main_search.png" rel="wiki[wikiMain]" title="" style="display:none">
			<img src="#" alt="Search Autosuggest" /></a>
		<a href="/storage/images/portfolio/wiki/main_notes.png" rel="wiki[wikiMain]" title="" style="display:none">
			<img src="#" alt="Main Page Annotations" /></a>
	</li>
	<li>
		<a href="/storage/images/portfolio/wiki/article_original.png" alt="" title="Wikipedia Article Page" rel="wiki[wikiArticle]" />
			<img src="/storage/images/portfolio/thumbs/wiki/article_search.png" width="228" height="228" alt="Original Wikipedia Article Page" />
			<p>Article Page Redesign</p></a>
		<a href="/storage/images/portfolio/wiki/article.png" rel="wiki[wikiArticle]" title="The search text area element was brought down to align with page title." style="display:none">
			<img src="#" alt="Redesigned Wikipedia Article Page" /></a>
		<a href="/storage/images/portfolio/wiki/article_hover.png" rel="wiki[wikiArticle]" title="Portal filtering for search field." style="display:none">
			<img src="#" alt="Article Page Portal Selector" /></a>
		<a href="/storage/images/portfolio/wiki/article_search.png" rel="wiki[wikiArticle]" title="Searching offers autosuggest based on input. User's can enter search term and get suggestions without having to go to the search results page." style="display:none">
			<img src="#" alt="Article Page Search Autosuggest" /></a>
		<a href="/storage/images/portfolio/wiki/article_notes.png" rel="wiki[wikiArticle]" title="" style="display:none">
			<img src="#" alt="Article Page Annotations" /></a>
	</li>
	<li>
		<a href="/storage/images/portfolio/wiki/serp_original.png" alt="" title="Wikipedia's Search Results Page" rel="wiki[Serp]" />
			<img src="/storage/images/portfolio/thumbs/wiki/serp.png" width="228" height="228" alt="Original Wikipedia Search Results Page"/>
			<p>Search Results Redesign</p></a>
		<a href="/storage/images/portfolio/wiki/serp.png" rel="wiki[Serp]" title="" style="display:none">
			<img src="#" alt="Redesigned Wikipedia Search Results Page" /></a>
		<a href="/storage/images/portfolio/wiki/serp_hover.png" rel="wiki[Serp]" title="" style="display:none">
			<img src="#" alt="SERP Portal Selector" /></a>
		<a href="/storage/images/portfolio/wiki/serp_search.png" rel="wiki[Serp]" title="" style="display:none">
			<img src="#" alt="SERP Search Autosuggest" /></a>
		<a href="/storage/images/portfolio/wiki/serp_notes.png" rel="wiki[Serp]" title="" style="display:none">
			<img src="#" alt="SERP Annotations" /></a>
	</li>
</ul>
</div>
<div class="text_stage wiki_text_stage">
<div class="text_stage_text">
	<p>This redesign was inspired by the <a href="http://blog.cueup.com/" title="Greplin Wikipedia Contest">Wikipedia Search Design Contest</a>. <blockquote style="color:#6A6A6A; line-height:1.4em; margin-bottom:0.8em;"><i>This contest is about redesigning Wikipedia's search experience from the ground up: everything from the behaviors on the search page, to the layout of content, to the details of typography, color, animations. Today, many people use Google to search Wikipedia, but imagine a whole new experience that makes using Google to search Wikipedia feel outdated.</i></blockquote></p><p>Although, I didn't enter in to the contest, I decided to give it a try anyway.</p>
</div><!-- text_stage -->
</div>
</div>
<hr />
{% include signup.html %}
<hr />
{% include mobileweb.html %}
<hr />

{% include wireframe.html %}
<hr />
{% include coursework.html %}
<hr />
{% include prosites.html %}
<div id="toTop">^ Back to Top</div>
</div><!-- wrapper -->

<script src="{{ site.baseurl }}/js/jquery.prettyPhoto.js"></script>
{% include prettyPhoto.html %}
<script>$(".text_stage a[href^='http://']").attr("target","_new");</script>
{% include toTop.html %}