---
layout: default
title: Resume
---

{% include top.html %}
<body  id="modulePage7365241"   >
	<div id="canvasWrapper"><div id="canvas">
  
  

  <div id="pageHeaderWrapper"><div id="pageHeader">

      <div id="navigationTop"><div id="navigationTop-sectionContent1689934" class="horizontalNavigationBar"><ul class="content-navigation">
    
  <li class="module   " id="navigationTop-moduleContentWrapper3374661">

    <div id="navigationTop-moduleContent3374661">

              <a id="navigationTop-moduleLink3374661" class=" " href="/" ><span>Home</span></a>
      

      

    </div>

  </li>


  <li class="module active-module" id="navigationTop-moduleContentWrapper7365241">

    <div id="navigationTop-moduleContent7365241">

              <a id="navigationTop-moduleLink7365241" class=" " href="/resume/" ><span>Resume</span></a>
      

      

    </div>

  </li>


  <li class="module" id="navigationTop-moduleContentWrapper7531521">

    <div id="navigationTop-moduleContent7531521">

              <a id="navigationTop-moduleLink7531521" class=" " href="/portfolio/" ><span>Portfolio</span></a>
      

      

    </div>

  </li>


  </ul><br class="clearer"/></div></div>

    
        
      
  
      <div id="bannerAreaWrapper"><div id="bannerArea">

              <div id="siteTitleWrapper">
          <h1 id="siteTitle"><a href="http://www.realuses.com/">Real Uses</a></h1>
           <div id="siteSubtitle" class="h1subtitle">Michael A. Crane&#39;s blog, resume and portfolio</div>
        </div>
      
      
      </div></div>
    
    
    

      <div id="navigationBottom"><div id="navigationBottom-sectionContent1689934" class="horizontalNavigationBar"><ul class="content-navigation">
    
  <li class="module   " id="navigationBottom-moduleContentWrapper3374661">

    <div id="navigationBottom-moduleContent3374661">

              <a id="navigationBottom-moduleLink3374661" class=" " href="/" ><span>Home</span></a>
      

      

    </div>

  </li>


  <li class="module active-module  " id="navigationBottom-moduleContentWrapper7365241">

    <div id="navigationBottom-moduleContent7365241">

              <a id="navigationBottom-moduleLink7365241" class=" " href="/resume/" ><span>Resume</span></a>
      

      

    </div>

  </li>


  <li class="module   " id="navigationBottom-moduleContentWrapper7531521">

    <div id="navigationBottom-moduleContent7531521">

              <a id="navigationBottom-moduleLink7531521" class=" " href="/portfolio/" ><span>Portfolio</span></a>
      

      

    </div>

  </li>


  </ul><br class="clearer"/></div></div>


  </div></div>
  
  

  

  
  <div id="pageBodyWrapper"><div id="pageBody">
  
  <div id="sidebar1Wrapper" class="verticalNavigationBarWrapper"><div class="iw-vnb1"><div class="iw-vnb2"><div class="iw-vnb3"><div class="iw-vnb4"><div id="sidebar1" class="verticalNavigationBar">

  

    <div id="sectionContent1689934" class="sectionWrapper promotedContainer "><div class="iw-s1"><div class="iw-s2"><div class="iw-s3"><div class="iw-s4"><div class="section">

      

      
        
          <ul class="content-navigation">
  <li class="module   " id="moduleContentWrapper3374661">

    <div id="moduleContent3374661">

              <a id="moduleLink3374661" class=" " href="/" ><span>Home</span></a>
      

      

    </div>

  </li>


  <li class="module active-module  " id="moduleContentWrapper7365241">

    <div id="moduleContent7365241">

              <a id="moduleLink7365241" class=" " href="/resume/" ><span>Resume</span></a>
      

      

    </div>

  </li>


  <li class="module   " id="moduleContentWrapper7531521">

    <div id="moduleContent7531521">

              <a id="moduleLink7531521" class=" " href="/portfolio/" ><span>Portfolio</span></a>
      

      

    </div>

  </li>

</ul>
    </div></div></div></div></div></div>
    <div id="sectionContent3157021" class="sectionWrapper  ">
		<div class="iw-s1">
			<div class="iw-s2">
				<div class="iw-s3">
					<div class="iw-s4">
						<div class="section">
          <div class="content-passthrough">
			  <div id="moduleContentWrapper7319348" class="widget-wrapper  widget-type-journalarchive">
				  <div id="moduleContent7319348">

</div></div><div id="moduleContentWrapper7319470" class="widget-wrapper  widget-type-page">
<div id="moduleContent7319470">
<br />
</div></div></div>
    </div></div></div></div></div></div>
    <div id="sectionContent3157049" class="sectionWrapper  ">
		<div class="iw-s1">
			<div class="iw-s2">
				<div class="iw-s3">
					<div class="iw-s4">
						<div class="section">
          <div class="content-passthrough">
			  <div id="moduleContentWrapper7319509" class="widget-wrapper  widget-type-tagcloud">
				  <div id="moduleContent7319509">
  <style type="text/css">
    #tagcloudwrapper-7319509 a { display:inline-block; }
  </style>
  

  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="sidebar2Wrapper" class="verticalNavigationBarWrapper">
<div class="iw-vnb1">
<div class="iw-vnb2">
<div class="iw-vnb3">
<div class="iw-vnb4">
<div id="sidebar2" class="verticalNavigationBar">
<div id="sectionContent3429653" class="sectionWrapper">
<div class="iw-s1">
<div class="iw-s2">
<div class="iw-s3">
<div class="iw-s4">
<div class="section">
<div class="content-passthrough">
<div id="moduleContentWrapper8048519" class="widget-wrapper  widget-type-page">
<div id="moduleContent8048519">
{% include resume_contact_container.html %}
</div>
</div></div></div>
</div></div></div></div></div></div>
</div></div></div></div></div></div>
<div id="contentWrapper">
<div id="content">
<div id="main"> <!-- main -->
{% include coda-slider-no-js.html %}
</div> <!-- main -->
{% include coda_slider_script.html %}
</div>
</div> <!-- Content -->
</div>
</div> <!-- Page Body -->
<div id="pageFooterWrapper">
<div id="pageFooter">
{% include footer_hcard.html %}
{% include footer_copy.html %}
{% include scrollTop.html %}
{% include wufoo_script.html %}
{% include disqus_embed.html %}
{% include toTop.html %}
{% include wufoo_script.html %}
{% include addThis.html %}
</div>
</div>
</div>
</div> <!-- Canvas -->
<div class="clearer" id="bodyClearer"></div>
</body>
</html>